:root{
  --purple-bg-color: #7510F7;
  --white-bg-color: #fff;
  --green-text-color:#00D1B2;
}
#about{
    scroll-margin-top: 96px;
  }
#skills{
    scroll-margin-top: 96px;
  }
#projects{
    scroll-margin-top: 96px;
  }
#resume{
    scroll-margin-top: 96px;
  }
#contact{
    scroll-margin-top: 96px;
  }
.load_screen{
  margin-top: 96px;
  color:var(--purple-bg-color);
}