#about{
    scroll-margin-top: 96px;
  }
#skills{
    scroll-margin-top: 96px;
  }
#projects{
    scroll-margin-top: 96px;
  }
#resume{
    scroll-margin-top: 96px;
  }
#contact{
    scroll-margin-top: 96px;
  }