@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";
:root{
    --purple-bg-color: #7510F7;
    --white-bg-color: #fff;
    --green-text-color:#00D1B2;
}
#footer{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.footer__title{
    font-size: 1.2rem;
    font-family: 'Maven Pro', sans-serif;
}
.footer__icons-wrapper{
    display:flex;
    justify-content: center;
}

.footer__email{
    padding:7px;
}

#footer *{
    margin:10px;
    color:var(--purple-bg-color);
}
#footer a:hover{
    filter: brightness(150%);
}